Since we share a backend team between the Plan:Portfolio Management and Certify
groups, we have a [combined metrics dashboard][dashboard]. This is intended to
track against some of the [Development Department KPIs][kpis], particularly
those around merge request creation and acceptance. The dashboard is taller
than the embed below, which can be scrolled independently of the page.

<embed width="100%" height="500" src="<%= signed_periscope_url(dashboard: 536601, embed: 'v2', filters: [{ name: 'backend_pm_certify_team', value: [3717078, 426128, 1642716, 508743] }]) %>">

[dashboard]: https://app.periscopedata.com/app/gitlab/536601/Backend-Plan:Portfolio-Management-&-Certify-Development-Metrics
[kpis]: /handbook/business-ops/data-team/metrics/#development-department-kpis

