.container
  .col-md-12.u-margin-top-sm.u-padding-bottom-md.text-center
    %h2.u-text-brand.u-margin-bottom-0 Call for proposals for San Francisco
    .col-md-6.col-md-offset-1.u-margin-top-sm.text-left
      %p We invite you to speak at GitLab Commit in San Francisco and share your software journey. We’re looking for stories that showcase the power of DevOps in action. Share the technologies and strategies you’ve employed, your challenges and success, or a behind-the-scenes look at how you are building something incredible.
      %a.btn.cta-btn.orange.margin-top20{ href: "https://forms.gle/cJGtGythtaoi4ucB8" } Submit

    .col-md-4.text-center.u-margin-top-sm
      %img.title-icon{ src: "/images/events/gitlab-commit/call-for-proposal.jpg", alt: "Gitlab call for proposal jpg" }
